body
{
    color: rgb(12, 0, 181);
    background-color: rgb(214, 69, 69);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed rgb(0, 0, 0);
    width: 350px;
    height: 300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color: aquamarine;
}